In [1]:
y=10
x=5
s=x+y
print(s)

15

In [2]:
x=20
n=int(input("enter limit"))
for i in range(0,n,1):
  print(i)

enter limit8
0
1
2
3
4
5
6
7

In [5]:
x="awesome"
c=x.count(x)
print(c)

1

In [9]:
x="Vishnu"
print(x)

Vishnu

In [10]:
x="vishnusharan"
c=len(x)
print(c)

12

In [18]:
x=10
y=20.5
z="yourname"
print(x+y,":",z)

30.5 : yourname

In [29]:
x=int(input("enter first number:"))
y=int(input("enter second number:"))
l=[]
l.append(x)
l.append(y)
l.append(x+y)
l.append(x*y)
l.append(x-y)
l.append(x/y)
print(l)
for i in range(2,len(l),1):
  print(l[i])

enter first number:100
enter second number:20
[100, 20, 120, 2000, 80, 5.0]
120
2000
80
5.0