<a href="https://colab.research.google.com/github/Sharan-47/firstrepo/blob/main/salarytax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
s=int(input("enter basic salary:"))
h=int(input("enter HRA:"))
a=int(input("enter special allowance:"))
l=int(input("enter LTA:"))

enter basic salary:450000
enter HRA:240000
enter special allowance:120000
enter LTA:15000

In [3]:
q=[]
q.append(s)
for i in q:
  if i>250000 and i<500000:
    print("TAX:",i*5/100)
  elif i>500000 and i<750000:
    print("TAX:",i*10/100)
  elif i>750000 and i<1000000:
    print("TAX:",i*20/100)
  elif i>1000000:
    print("TAX:",i*30/100)

TAX: 22500.0

In [ ]:
q.append(h)

In [6]:
q=[]
q.append(h)
for i in q:
  s=int(input("enter basic salary:")

In [9]:
i=int(input("enter basic salary:"))
if i>250000 and i<500000:
  print("TAX:",i*5/100)
elif i>500000 and i<750000:
  print("TAX:",i*10/100)
elif i>750000 and i<1000000:
  print("TAX:",i*20/100)
elif i>1000000:
  print("TAX:",i*30/100)

enter basic salary:450000
TAX: 22500.0

In [13]:
i=int(input("enter HRA:"))
if i>250000 and i<500000:
  print("TAX:",i*5/100)
elif i>500000 and i<750000:
  print("TAX:",i*10/100)
elif i>750000 and i<1000000:
  print("TAX:",i*20/100)
elif i>1000000:
  print("TAX:",i*30/100)

enter HRA:240000

In [14]:
i=int(input("enter special allowance:"))
if i>250000 and i<500000:
  print("TAX:",i*5/100)
elif i>500000 and i<750000:
  print("TAX:",i*10/100)
elif i>750000 and i<1000000:
  print("TAX:",i*20/100)
elif i>1000000:
  print("TAX:",i*30/100)

enter special allowance:120000

In [18]:
i=int(input("enter LTA:"))
if i>250000 and i<500000:
  q=i-250000
  print("TAX:",q*5/100)
elif i>500000 and i<750000:
  q=i-500000
  w=500000-250000
  print("TAX:",w*5/100+q*10/100)
elif i>750000 and i<1000000:
  q=i-750000
  w=500000-250000
  print("TAX:",q*20/100+)
elif i>1000000:
  q=i-250000
  print("TAX:",q*30/100)

enter LTA:450000
TAX: 10000.0

In [ ]:
i=int(input("enter LTA:"))
if i>250000 and i<500000:
  q=i-250000
  print("TAX:",q*5/100)
elif i>500000 and i<750000:
  q=i-500000
  w=500000-250000
  print("TAX:",w*5/100+q*10/100)
elif i>750000 and i<1000000:
  q=i-750000
  w=500000-250000
  print("TAX:",q*20/100+)
elif i>1000000:
  q=i-250000
  print("TAX:",q*30/100)

enter LTA:450000
TAX: 10000.0

In [ ]:
i=int(input("enter LTA:"))
if i>250000 and i<500000:
  q=i-250000
  print("TAX:",q*5/100)
elif i>500000 and i<750000:
  q=i-500000
  w=500000-250000
  print("TAX:",w*5/100+q*10/100)
elif i>750000 and i<1000000:
  q=i-750000
  w=500000-250000
  print("TAX:",q*20/100+)
elif i>1000000:
  q=i-250000
  print("TAX:",q*30/100)

enter LTA:450000
TAX: 10000.0

In [ ]:
i=int(input("enter LTA:"))
if i>250000 and i<500000:
  q=i-250000
  print("TAX:",q*5/100)
elif i>500000 and i<750000:
  q=i-500000
  w=500000-250000
  print("TAX:",w*5/100+q*10/100)
elif i>750000 and i<1000000:
  q=i-750000
  w=500000-250000
  e=750000-500000
  print("TAX:",q*20/100+w*5/100+e*10/100))
elif i>1000000:
  q=i-1000000
  w=500000-250000
  e=750000-500000
  r=1000000-750000
  print("TAX:",q*30/100+w*5/100+e*10/100+r*20/100)

enter LTA:450000
TAX: 10000.0