<a href="https://colab.research.google.com/github/Sharan-47/firstrepo/blob/main/second_tax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
x=int(input("enter a number"))
y=int(input("enter a number"))
print("SUM",":",x+y)
print("DIFFERENCE",":",x-y)
print("divide",":",x/y)

enter a number100
enter a number20
SUM : 120
DIFFERENCE : 80
divide : 5.0
MULTIPLY : 2000
square : 10000000000000000000000000000000000000000

In [11]:
p=int(input("enter prinicpal amount:"))
n=int(input("enter number of years :"))
r=int(input("enter rate of interest:"))
b=int(p*n*r/100)
print("Total Amount",":",b+p)

enter prinicpal amount:10000
enter number of years :5
enter rate of interest:8
Total Amount : 14000

In [12]:
m=int(input("enter marks for banking:"))
if m>50:
  print("PASS")
else:
  print("FAIL")

enter marks for banking:75
PASS

In [20]:
s=int(input("enter salary:"))
if s>250000 and s<500000:
  print("Taxable")
  a=s-250000
  print("Tax :",int(a*10/100))
elif s>500000:
  a=s-250000
  print("Tax :",int(a*30/100))
else: 
  print("Not Taxable")

enter salary:800000
Tax : 165000